<footer class="background-navy text-white">
  <div class="flex-container-no aifs">
    <div class="third">
      <h4 class="nmb">Explore</h4>
      <div class="title-border"></div>
      <div class="flex-container-no">
        <div class="half">
          <p class="nm">About Us</p>
          <p class="nm">Policies</p>
          <p class="nm">Shipping</p>
        </div>
        <div class="half">
          <p class="nm">Returns & Exchanges</p>
          <p class="nm">FAQs</p>
          <p class="nm">Contact</p>
        </div>
      </div>
    </div>
    <div class="third">
      <h4 class="nmb">Subscribe</h4>
      <div class="title-border"></div>
      <h3>Free Shipping!</h3>
      <p>Sign up to get free shipping on your first order and stay in the know for exclusive deals.</p>
      <form action="https://manage.kmail-lists.com/subscriptions/subscribe?g=Buguta" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate border-white text-white" target="_blank" novalidate="">
        <input type="email" value="" name="EMAIL" class="required email email_update" id="mce-EMAIL" placeholder="Your email address">
        <input type="submit" class="submit"value="→" name="subscribe" id="mc-embedded-subscribe">
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response"></div>
          <div class="response" id="mce-success-response"></div>
        </div>
      </form>
    </div>
    <div class="third">
      <h4 class="nmb">Social</h4>
      <div class="title-border"></div>
    </div>  
  </div>
  <p class="nm">© 2019, All Right Reserved.</p>
</footer>