<section id="header" class="flex-container-no">
  <div class="jcfs third flex-container-no">
    <img src="{{'salmoncove.png' | asset_url}}" id="page-logo"/>
  </div>
  <nav class="jcfe flex-container-no two-thirds do">
    <p>Home</p>
    <p>Catalog</p>
    <p>About Us</p>
    <p>Blog</p>
    <img src="{{'cart.png' | asset_url}}" id="cart" />
  </nav>
  <nav class="mo">
  </nav>
</section>