<section id="header" class="flex-container-no">
  <div class="jcfs third flex-container-no mo-plus">
    <img src="{{'stitchlogo.png' | asset_url}}" id="page-logo"/>
  </div>
  <nav class="jcse flex-container-no do-plus fw">
    <p>Button Downs</p>
    <p>Custom Blend Tees</p>
    <p>Polos</p>
    <img src="{{'stitchlogo.png' | asset_url}}" id="page-logo"/>
    <p>Vests</p>
    <p>Accessories</p>
    <p>Women</p>
    <img src="{{'cart.png' | asset_url}}" id="cart" />
  </nav>
  <nav class="mo-plus flex-container-no two-thirds jcfe">
    <img src="{{'cart.png' | asset_url}}" id="cart" />
    <div id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</section>