 <div class="background-purple fw banner"><h4 class="text-white tac nm ">Watch our international live feed of alpacas here.</h4></div>
 <nav class="fw do flex-container">
  <div class="flex-container jes">
    <h4 class="ib">Men's</h4>
    <h4 class="ib">Women's</h4>
    <h4 class="ib">Kid's</h4>
  </div>
  <img src="{{'pacas.png' | asset_url}}"  class="jlogo"/>
  <div class="flex-container jes">
    <h4 class="ib">Our Story</h4>
    <h4 class="ib">Giving</h4>
    <h4 class="ib">Live Feed</h4>
    <img src="{{'' | asset_url}}" />
  </div>
 </nav>