<section class="flex-container-no" id="atf">
  <div class="half background-orange flex-container-no">
    <div>
      <h1 class="text-navy nm">From Office to Course</h1>
      <p class="text-navy nmt">All day comfort, everyday</p>
      <div class="button">
        <span class="text-white">Shop Collection</span>
      </div>
    </div>
  </div>
  <div class="half" id="atf-prod-highlight">
  </div>
</section>
