<div id="index-page">
<section class="flex-container accent-section background-orange" id="atf">
  <div class="half flex-container">
    <div>
      <h1 class="text-navy nm">From Office to Course</h1>
      <p class="text-navy nmt">All day comfort, everyday</p>
      <div class="button background-white">
        <span class="text-navy">Shop Collection</span>
      </div>
    </div>
  </div>
  <div class="half do" id="atf-prod-highlight">
  </div>
</section>
<section class="flex-container-no background-navy accent-section" id="product-highlight">
  <div class="half flex-container-no">
    <div>
      <h1 class="text-white nm">Finally, the perfect vest</h1>
      <p class="text-white nmt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="button border-white">
          <span class="text-white">Shop Vests</span>
        </div>
    </div>
  </div>
  <div class="half tac" id="vest">
  </div>
</section>
<section class="flex-container border-orange highlight-section" id="material-highlight">
  <div class="half flex-container-no">
    <div>
      <img src="{{'wave.svg' | asset_url}}" class="wave-icon" />
      <h1 class="text-navy nm">Quality Materials</h1>
      <p class="text-navy nm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>   
  </div>
  <div class="half do" id="top-vest">
  </div>
</section>
<section class="flex-container highlight-section" id="photo-highlight">
  <div class="half" id="top-vest">
  </div>
  <div class="half do" id="clasp-vest">
  </div>
</section>
<section class="flex-container border-orange highlight-section" id="company-highlight">
  <div class="half flex-container-no">
    <div>
      <img src="{{'wave.svg' | asset_url}}" class="wave-icon" />
      <h1 class="text-navy nm">Experience</h1>
      <p class="text-navy nm">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
  <div class="half do" id="zipper">
  </div>
</section>
<div class="index-catalog">
  <h1>Catalog will go here when it exists</h1>
</div>
{% include 'live-feed' %}
</div>